.message {
  border-radius: 4px;
  background: #353535;
  padding: 15px;
  color: white;
  font-size: 14px;
  line-height: 1;

  &.message_danger {
    background: #ff383f;
  }

  &.message_success {
    background: #76ff41;
  }

  &.message_info {
    background: #7274ff;
  }
}